@charset "UTF-8";
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  margin-right: 85px;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo:hover {
  text-decoration: underline;
  color: #2196f3;
}

.logo {
  text-decoration: none;
}

.logo-studio {
  color: black;
}

.nav-links a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #2196f3;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: 86px; */
  margin-top: 0;
  margin-bottom: 0;
}

.nav-links .link {
  /* transition-property: background-color; */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  font-family: Roboto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-links .nav-links-item + .nav-links-item {
  margin-left: 50px;
}

.nav-links-item {
  position: relative;
}

.nav-links-item .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* .nav-links-item .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  height: 4px;
  
  
  background: #2196F3;
  border-radius: 2px;
  } */
.nav-links a {
  text-decoration: none;
}

.nav-contakts {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-contakts .nav-contakts-item {
  /* display: flex; */
  margin-right: 30px;
}

.nav-contakts-item:hover {
  fill: #2196f3;
}

.nav-contakts .nav-contakts-item:last-child {
  margin-right: 0;
}

.nav-mail {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.nav-mail:focus,
.nav-mail:hover {
  color: #2196f3;
}

.envelope {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 11px;
}

.envelope:hover,
.envelope:focus {
  fill: #2196f3;
}

.phone {
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 15px;
}

.phone:hover,
.phone:focus {
  fill: #2196f3;
}

/* .nav-mail {
    text-decoration: none;
  } */
.nav-tel {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-tel:hover,
.nav-tel:focus {
  color: #2196f3;
}

.nav-tel {
  text-decoration: none;
}

.modal-close {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  /* transform: translate(50%, -50%); */
  border: none;
  border-radius: 50%;
  border-color: #ffffff;
  background-color: #ffffff;
  outline: none;
  /* background-image: url('../images/close.svg'); */
  background-size: 11px 11px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12); */
  cursor: pointer;
}

.modal-close:hover {
  fill: #2196f3;
  border: blue;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: block;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 528px;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */
.button-close {
  position: absolute;
  top: -2%;
  right: -2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000000;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  /* width: 448px;
  height: 40px; */
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  padding: 12px 18px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus-within + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-26px, -36px);
          transform: translate(-26px, -36px);
  color: #2196f3;
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input:focus,
.form-field:focus-within .modal-icon {
  color: #2196f3;
}

.form-label.comment {
  top: 12px;
  left: 16px;
}

.form-field.comment {
  width: 100%;
  margin-bottom: 20px;
}

.form-textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form-textarea:focus + .form-label,
.form-textarea:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  color: #2196f3;
}

.form-field.checkbox {
  margin-bottom: 30px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  margin-left: 12px;
  margin-right: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  right: -19px;
}

.checkbox {
  position: relative;
}

.form-checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.form-checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/sprite2.svg#icon-Vector-13");
  background-size: contain;
  background-origin: border-box;
}

.contract-link {
  color: #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
  fill: currentColor;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.check-form-label {
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: #212121;
}

.submit-button {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-optim-2.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-optim-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  text-align: center;
}

.hero-title {
  margin-bottom: 46px;
  margin-top: 0;
  display: inline-block;
  width: 646px;
  margin-bottom: 46px;
  margin-top: 0;
  padding-top: 94px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f5f4fa;
  /* текст будет белый */
}

/* .around-hero-button {
      padding-bottom: 200px;
      
  } */
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 32px;
  border: 0;
  border-radius: 4px;
  min-width: 200px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.flex-advantages .item {
  width: calc((100%-90px) / 4);
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-icon {
  width: 65px;
  height: 70px;
}

/* .item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  } */
/* .icon-antena::before {
    background-image: url(../images/antenna-1.svg);
    
  } */
.icon-clok::before {
  background-image: url(../images/clock-1.svg);
}

.icon-laptop::before {
  background-image: url(../images/diagram-1.svg);
}

.icon-man::before {
  background-image: url(../images/astronaut-1.svg);
}

/* .interactive-icon {
      margin-bottom: 30px;
      color: var(--title-text-color);
      background-color: var(--sekendary-background-color);
      padding: 25px 100px;
      border-radius: 4px;
  } */
/* .interactive-icon:hover {
      background-color: var(--accent-color);
      color: #FFFFFF;
  } */
.advantages-border {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  /* border-bottom: 1px solid #ECECEC; */
}

/* .flex-advantages .item {
      padding-bottom: 94px;
  } */
.flex-advantages .item + .item {
  margin-left: 30px;
}

ul {
  padding: 0;
}

.title-advantages {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.we-doing > .container {
  border-top: 1px solid #ececec;
  padding-top: 94px;
}

/* .we-doing-title {
      margin: 0;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-text-color);
  } */
.we-doing {
  padding-bottom: 94px;
}

.we-doing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.we-doing-list a {
  text-decoration: none;
}

.we-doing-item {
  position: relative;
  padding-right: 0;
  width: 370px;
}

.we-doing-item:not(:last-child) {
  margin-right: 30px;
}

.production-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 27px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px;
  color: #ffffff;
}

.we-doing-link {
  background-image: url(../images/laptop-optim.jpg);
}

.flex-team .flex-item + .flex-item {
  margin-left: 30px;
}

.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.card-description {
  padding-top: 30px;
  /* width: calc((100%-90px)/4); */
  text-align: center;
}

.flex-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: block;
  padding: 12px 12px;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  border: 0;
  fill: #AFB1B8;
}

.icon-social:hover,
.icon-social:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-link-item {
  display: block;
  width: 20px;
  height: 20px;
  color: currentColor;
  /* fill: var(--primary-text-color) */
}

.social-link:hover {
  fill: white;
}

.icon-social {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid red; */
  display: inline-block;
  width: 44px;
  height: 44px;
  /* background-image: url(../images/insta.svg); */
  background-size: 10px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.icon-social + .icon-social {
  margin-left: 10px;
}

.flex-team .flex-item {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.flex-social {
  /* outline: 2px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 24px;
  width: 207px;
}

/* .title {
      
      margin-top: 0;
      margin-bottom: 50px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-text-color);
  } */
.title-links {
  margin-top: 50;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.title-links a {
  text-decoration: none;
}

.title-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.text-profession {
  margin-top: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  /* padding: 94px 0 50px; */
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.flex-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}

.customers-link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.customers-brend {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-brend:hover,
.customers-brend:focus {
  color: #2196f3;
}

.logo-footer {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-footer:hover,
.logo-footer:focus {
  text-decoration: underline;
  color: #2196f3;
}

.logo-footer-accent {
  font-size: 22px;
  line-height: 1.18;
  color: #ffffff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
  width: 231px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-item + .address-item {
  margin-top: 9px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}

.copy {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.section-footer {
  padding-top: 94px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f303a;
}

.flex-slogan {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slogan {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.item-social {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 12px 12px;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  border: 0;
  background: rgba(255, 255, 255, 0.1);
}

.social-link-footer {
  display: block;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.item-social:hover {
  background-color: #2196f3;
}

.item-social + .item-social {
  margin-left: 10px;
}

.form-imput {
  width: 356px;
  height: 50px;
  margin-right: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
}

.form-button {
  /* display: inline-flex; */
  background-size: contain;
  padding: 0;
  height: 50px;
  width: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* background: #2196F3; */
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #FFFFFF;
  background-color: #2196f3;
}

.form-button::after {
  width: 24px;
  height: 24px;
  content: '';
  padding-left: 10px;
  padding-right: 28px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

ul {
  list-style: none;
}

.portfolio-title {
  display: none;
}

.nav-portfolio {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
}

.nav-button {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  letter-spacing: 0.03em;
  border: 0;
  background-color: var(--sekendary-background-color);
}

.nav-button:hover,
.nav-button:active {
  color: #ffffff;
  background-color: var(--accent-color);
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */