.title {
    /* padding: 94px 0 50px; */
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  
  .flex-customers {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .customers-link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
  }
  
  .customers-link:hover,
  .customers-link:focus {
  
  border-color: $accent-color;
  fill: $accent-color;
  }
  .customers-brend {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-brend:hover,
  .customers-brend:focus {
    color: $accent-color;
  }