.logo-footer {
    
  
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
  
  .logo-footer:hover,
  .logo-footer:focus {
    text-decoration: underline;
    color: $accent-color;
  }
  .logo-footer-accent {
    font-size: 22px;
    line-height: 1.18;
    color: #ffffff;
  }
  .footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 48px;
  }
  
  .address {
    display: flex;
    margin-bottom: 28px;
    width: 231px;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
  .address-item + .address-item {
    margin-top: 9px;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
  }
  .copy {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 21px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
  }
  .section-footer {
    padding-top: 94px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f303a;
  }
  
  .flex-slogan {
    justify-content: center;
  }
  .slogan {
    display: block;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .item-social {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 12px 12px;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    border: 0;
  
    background: rgba(255, 255, 255, 0.1);
    
  }
  
  .social-link-footer {
    display: block;
    width: 20px;
    height: 20px;
    fill: $primary-background-color;
  }
  .item-social:hover {
    background-color: $accent-color;
  }
  .item-social + .item-social {
    margin-left: 10px;
  }