.portfolio-title {
    display: none;
  }
  .nav-portfolio {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
  }
  .nav-button {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 6px 22px;
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    letter-spacing: 0.03em;
    border: 0;
    background-color: var(--sekendary-background-color);
  }
  .nav-button:hover,
  .nav-button:active {
    color: #ffffff;
    background-color: var(--accent-color);
  }
  
  .nav-items {
    display: flex;
    flex-wrap: wrap;
  }